In [9]:
import numpy as np
import pandas as pd
import pickle

In [4]:
model = pickle.load(open('model.pkl', 'rb'))

In [5]:
df = pd.read_csv('./data/cleaned_wine.csv')

In [6]:
df.head()

,fixed acidity,volatile acidity,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,wine
0,7.4,0.70,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,red
1,7.8,0.88,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,red
2,7.8,0.76,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,red
3,11.2,0.28,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,red
4,7.4,0.70,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,red

In [10]:
input_array = np.array([7.4, 0.7, 1.9, 0.076, 11.0, 34.0, 0.9978, 3.51, 0.56])

In [13]:
input_array = input_array.reshape(1, -1)

In [16]:
cols = list(df.columns)

In [17]:
cols.remove('wine')

In [18]:
cols

['fixed acidity',
 'volatile acidity',
 'residual sugar',
 'chlorides',
 'free sulfur dioxide',
 'total sulfur dioxide',
 'density',
 'pH',
 'sulphates']

In [19]:
wine1 = pd.DataFrame(columns=cols, data=input_array)

In [20]:
wine1

,fixed acidity,volatile acidity,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates
0,7.4,0.7,1.9,0.076,11.0,34.0,0.9978,3.51,0.56

In [21]:
model.predict(wine1)

array(['red'], dtype=object)